/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #FFECF2;
}

/* configurações header */
header{
    display: flex;
    align-items: center;
}
 #logo{
    width: 10%;
 }
 #user{
    width: 2.5%;
    cursor: pointer;
    margin-left: 15%;
 }
 input{
    border: none;
    outline: none;
    width: 60%;
    height: 40px;
    padding-left: 2%;
    border-radius: 20px;
    margin-right: 5%;
    margin-left: 5%;
 }

/* configuracoes main */
main{
    display: flex;
}

 /* configurações menu lateral */
 #menulateral{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 2%;
    position: fixed;
 }
 .icons{
    width: 30%;
    padding-left: 30px;
    cursor: pointer;

 }
 #settings{
    padding-top: 20%;
 }

 /* configurações das imagens */
 
/* #imagens{
    margin-left: 10%;
    display: grid;
    gap: 10px;

}
.imagem{

} */

#imagens {
    column-count: 3; /* muda o # de colunas */
    column-gap: 15px;
    margin-left: 8%; 
    padding: 20px;
}

.imagem {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    display: block;
    break-inside: avoid; /* impede que uma imagem quebre entre colunas */
}

