/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #FFECF2;
}

/* configurações header */
header{
    display: flex;
    align-items: center;
}
 #logo{
    width: 20%;
 }
 #user{
    width: 3%;
    cursor: pointer;
 }
 input{
    border: none;
    outline: none;
    width: 60%;
    height: 40px;
    padding-left: 2%;
    border-radius: 20px;
    margin-right: 5%;
    margin-left: 5%;
 }

/* configuracoes main */
main{
    display: flex;
}

 /* configurações menu lateral */
 #menulateral{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 2%;
    position: fixed;
 }
 .icons{
    width: 30%;
    padding-left: 30px;
    cursor: pointer;

 }
 #settings{
    padding-top: 20%;
 }

 /* configurações das imagens */
 
#imagens{
    margin-left: 10%;
    border: solid 1px red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px; /* altura padrão das linhas */
    gap: 10px;
    grid-template-areas:
    "item1 item2 item2 item3"
    "item1 item4 item5 item3"
    "item1 item6 item8 item8"
    "item1 item7 item8 item8";
    
}
.imagem{
    /* border: solid 10px black; */
    /* width: 100%; */
}

#imagens:nth-child(1) {
    grid-area: item3;
    border: solid 10px black;
}

#imagens:nth-child(2) {
    grid-area: item2;
}

#imagens:nth-child(3) {
    grid-area: item3;
}